body{
margin:0;
font-family:sans-serif;
}

/* ヘッダー */

header{
background:yellow;
text-align:center;
padding:20px;
}

/* 全体 */

.container{
display:flex;
}

/* サイドバー */

.sidebar{
background:#a8e0db;
width:200px;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin-bottom:10px;
}

/* メイン */

.main{
padding:20px;
flex:1;
}

/* フォーム */

table{
border-collapse:collapse;
}

th,td{
border:1px solid #666;
padding:8px;
}

textarea{
width:200px;
height:80px;
}
