body{
margin:0;
font-family:sans-serif;
}

.header{
  background:yellow;
  text-align:center;
  padding:20px;
  width:1000px;
  margin:0 auto;
}

.container{
display:flex;
}

.sidebar{
background:#a8e0db;
width:200px;
padding:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin-bottom:10px;
}

.main{
padding:20px;
flex:1;
}

table{
border-collapse:collapse;
}

th,td{
border:1px solid #666;
padding:8px;
}

textarea{
width:200px;
height:80px;
}
